*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headingContainer {
    background-color: #1F2937;
    color: white;
    text-decoration: none;
}

.menuContainer{
    background-color: #1F2937;
    color: white;
    text-decoration: none;
    display:flex;
    justify-content: center;
}
.homepageLink{
    width: 850px;
    display: flex;
    justify-content: flex-start;
    
}

.rightSideLinks {
    display: flex;
    align-items: flex-end;
    border-style: 1px, solid,green;
}
.projects,
.about{
    margin-right: 20px;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 80px;
  }
.h1 {
    font-size: 48px;
}
